.somethinghere{
position: static; /*not positioned in any special way; 
	it is always positioned according to the normal flow of the page*/
	position: relative;
	left: 30px;/*is positioned relative to its normal position
	Setting the top, right, bottom, and left properties of a relatively-positioned 
	element will cause it to be adjusted away from its normal position. 
	Other content will not be adjusted to fit into any gap left by the element.*/
	position: fixed; /*s positioned relative to the viewport, which means it always stays 
	in the same place even if the page is scrolled. The top, right, bottom, and left 
	properties are used to position the element.*/
	width: 100%;
	height: 100%;
	top: 50;
	/*bottom: 0;*/
	left: 0;
    right: 0;
    border: 3px solid #73AD21;
    border: none;
    /*position: absolute;*//*is positioned relative to the nearest positioned ancestor (instead 
    of positioned relative to the viewport, like fixed).
	However; if an absolute positioned element has no positioned ancestors, 
	it uses the document body, and moves along with page scrolling.
	Note: A "positioned" element is one whose position is anything except static.*/

	/*good for putting image in a div without making a background*/
	/*top: 80px;
    right: 0;
    width: 100%;
    height: 100px;
    border: 3px solid #73AD21;*/
    z-index: -1;
    filter: blur(15px) opacity(90%);
}