/* Main DIV for Entire Component */
#topbannerdiv {
    position: relative;
    text-align: center;
    color: white;


}

/*Main image*/
#keyboardimg{
    vertical-align: bottom;
	height: 568px;
    width: 100%;
   /* filter: blur(5px);*/

    background: 
    linear-gradient(
      rgba(2, 1, 4, 0.65),
      rgba(2, 1, 4, 0.65)
    ),
    url("../images/keyboard800x1267.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

/* NAME, TITLE, FULL STACK ICONS */
#nametitlediv {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color:#1AAB8A;
    width: 300px;
        text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

}

#fullstackicons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5em;
    font-weight: bold;
    color:#1AAB8A;
    padding-top: 15px;
}

/*ABOUT DIV STARTS HERE*/
#aboutmemasterdiv {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5em;
    color: white;
    width: 300px;
}

#aboutmediv{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#introtext{
    font-size: 2em;
}

#welcometext{
    font-size: 1.5em;
}

/*Icon Column Starts*/
#aboutmeiconmasterdiv{
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutmeicondivs{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.aboutmeicons{  
    display: block;
    color:#1AAB8A;
    font-size: 2.5em;
    padding-left: 5px;
    padding-right: 5px;
}

.aboutmeicontext{
    color: orange;
    font-size: 2.5em;
}
/*Icon Column Ends*/

#contactmasterdiv{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5em;
    color: white;
    width: 300px;
}

#contactdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height: 50px;
}

#contacttext{
    display: flex;
    align-content: center;
}

.contacticons{
    display: block;
    /*display block makes it act like a p tag and removes ghost space due to class^="icon" with the fa icon
    https://stackoverflow.com/questions/38501042/why-font-awesome-icons-have-weird-margin-on-top-when-using-small-font-sizes*/
    color:#1AAB8A; 
    padding-left: 10px;
    font-size: 1.5em;
    display: block;
}

#seemyprojecttext{
    font-size: 2em;
}



/*not sure what these belong to*/
/*.githubprofile{
    display: flex;
    justify-content: center;
    align-items: center;
}

a .githubprofile{
    text-decoration: none;
}

.profiletext{
    color: white;
}

.github{
    padding-right: 10px;
    font-size: 2em;
    color:#1AAB8A; 
}*/


/*.connectingicon{
    padding-right: 10px;
    font-size: 3em;
    color:#1AAB8A; 
}


/*Contact Div*/
/*.contactmediv{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
/*Contact Button*/
/*.contactmebutton{
    height: 10px;
    background:#1AAB8A;
    color:#fff;
    border: none;
    font-size: .45em;
}*/


