/*Project Examples*/
#mobilefirst{
	display: block;
}

#desktopview{
	display:none;
}

@media screen and (min-width: 1200px){

	#mobilefirst{
		display: none;
	}

	#desktopview{
		display:block;
	}

}



/*Websites Global*/
iframe {
	height:400px;
	width: 600px;
	border: none;
}

.whitespace{
	height: 40px;
}
/*Websites*/

.websites{
	/*background-color: yellow;*/
	/*display: flex;
	justify-content: space-around;
	flex-wrap: wrap;*/
}

.outercard{
	/*background-color: blue;*/
	height: 550px;
	width: auto;
	padding-top: 10px;
	padding-bottom: 25px;
	display: flex;
	justify-content: center;
}

.innercard {
	/*background-color: pink;*/
	height: 400px;
	width: auto;
	/*width: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;*/
}

.innercardalt {
/*	background-color: pink;*/
	height: auto;
	width: 400px;
	/*width: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;*/
}

.cardtexttitle{
	color: #1AAB8A;
	color: orange;
	color: black;
	font-size: 2.5em;
	font-weight: bold;
	text-shadow:
    -1px -1px 0 #1AAB8A,
    1px -1px 0 #1AAB8A,
    -1px 1px 0 #1AAB8A,
    1px 1px 0 #1AAB8A;
	/*color: black;*/
}

.webimg{
	height: auto;
	width: 300px;
}

.cardtextm{
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	color: white;
	/*background-color: blue;*/
	width: auto;
}

.cardtext{
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	color: white;
/*	background-color: blue;*/
	width: 450px;
}

.btn {
  background: #1AAB8A;
  border: 4px solid #1AAB8A;
  text-decoration:none;
  color: white;
}

.btn:hover {
  background: #1AAB8A;
  border: 4px solid white;
  color: #fff
}

/*WebsitesAlt*/
.btnpad{
	padding-top: 20px;
}

.webimgalt{
	position: static;
	height: auto;
	width: 600px;
}

.innercardalt{
	/*background-color: pink;*/
	height: 400px;
	width: auto;
	width: auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}


/*WebsitesMF*/

.github{
    padding-right: 10px;
    font-size: 2em;
    color:#1AAB8A; 
}

.connectinginconsm{
	display: flex;
	flex-direction: row;
	justify-content: center;
}



.connectingincons{
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.connectingiconm{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 3em;
    color:#1AAB8A; 
}

.connectingicon{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 2em;
    color:#1AAB8A; 
}


.connectingicontextm{
  
    font-size: 1em;
    color:#1AAB8A; 
    /*color:orange;*/

    text-shadow:
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black;
 	text-decoration: none;
 	display:flex;
 	align-items: center;
 	justify-content: center;

}


.connectingicontext{
   
    font-size: 1.5em;
    color:#1AAB8A; 
    /*color:orange;*/

    text-shadow:
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black;
    text-decoration: none;


}